<a href="https://colab.research.google.com/github/Daisydreams/Daisydreams/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[10000, 20000, 50000, 80000, 100000, 600000, 65000, 90000]
['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']

[10000, 20000, 50000, 80000, 100000, 600000, 65000, 90000]
['D', 'D', 'B', 'A', 'A', 'A', 'B', 'A']

[10000, 20000, 50000, 80000, 100000, 600000, 65000, 90000]
['D', 'D', 'B', 'A', 'A', 'A', 'B', 'A']

In [12]:
def grade(sal):
    if sal >= 70000:
        return 'A'
    elif sal >= 50000:
        return 'B'
    elif sal >= 30000:
        return 'C'
    return 'D'

In [13]:
sal=[10000,20000,50000,80000,100000,600000,65000,90000]
grades= [grade(s) for s in sal]
print(sal)
print(grades)

[10000, 20000, 50000, 80000, 100000, 600000, 65000, 90000]
['D', 'D', 'B', 'A', 'A', 'A', 'B', 'A']

In [18]:
def dept(d):
  if d=="11":
    dname="marketing"
  elif d=="12":
    dname="HR"
  elif d=="13":
    dname="FInance"
  else:
    return "other"

In [19]:
dno=[11,12,13,14,11,11,12,13,12]
dnames=[dept(v) for v in dno]
print(dno)
print(dnames)

[11, 12, 13, 14, 11, 11, 12, 13, 12]
['other', 'other', 'other', 'other', 'other', 'other', 'other', 'other', 'other']

In [20]:
def dept(d):
    if d == 11:
        return "marketing"
    elif d == 12:
        return "HR"
    elif d == 13:
        return "Finance"
    else:
        return "other"

dno = [11, 12, 13, 14, 11, 11, 12, 13, 12]
dnames = [dept(v) for v in dno]

print(dno)
print(dnames)

[11, 12, 13, 14, 11, 11, 12, 13, 12]
['marketing', 'HR', 'Finance', 'other', 'marketing', 'marketing', 'HR', 'Finance', 'HR']

In [5]:
tax=[v*0.1 for v in sal]
hra=[v*0.2 for v in sal]
print(sal)
print(dnames)
print(dno)

print(tax)
print(hra)

NameError: ignored

In [8]:

def grade(sal):
    if sal >= 70000:
        return 'A'
    elif sal >= 50000:
        return 'B'
    elif sal >= 30000:
        return 'C'
    return 'D'
sal=[10000,20000,50000,80000,100000,600000,65000,90000]
grades= [grade(s) for s in sal]
tax=[s*0.1 for s in sal]
hra=[s*0.2 for s in sal]
print(sal)

print(tax)
print(hra)
print(grades)

[10000, 20000, 50000, 80000, 100000, 600000, 65000, 90000]

NameError: ignored

In [26]:
def grade(sal):
    if sal >= 70000:
        return 'A'
    elif sal >= 50000:
        return 'B'
    elif sal >= 30000:
        return 'C'
    return 'D'

sal = [10000, 20000, 50000, 80000, 100000, 600000, 65000, 90000]
grades = [grade(s) for s in sal]
tax = [s*0.1 for s in sal]
hra = [s*0.2 for s in sal]


def dept(d):
    if d == 11:
        return "marketing"
    elif d == 12:
        return "HR"
    elif d == 13:
        return "Finance"
    else:
        return "other"

dno = [11, 12, 13, 14, 11, 11, 12, 13, 12]
dnames = [dept(v) for v in dno]


for v in list(zip(dnames, sal, tax, hra, grades, dno)):
    print(v)
list(zip(dnames, sal, tax, hra, grades, dno))
net=[s+h-t for s,t,h in list(zip(sal,tax,hra))]
print("_"*500)
print("_"*500)

list(zip(dnames, sal, tax, hra, grades, dno,net))

('marketing', 10000, 1000.0, 2000.0, 'D', 11)
('HR', 20000, 2000.0, 4000.0, 'D', 12)
('Finance', 50000, 5000.0, 10000.0, 'B', 13)
('other', 80000, 8000.0, 16000.0, 'A', 14)
('marketing', 100000, 10000.0, 20000.0, 'A', 11)
('marketing', 600000, 60000.0, 120000.0, 'A', 11)
('HR', 65000, 6500.0, 13000.0, 'B', 12)
('Finance', 90000, 9000.0, 18000.0, 'A', 13)
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

[('marketing', 10000, 1000.0, 2000.0, 'D', 11, 11000.0),
 ('HR', 20000, 2000.0, 4000.0, 'D', 12, 22000.0),
 ('Finance', 50000, 5000.0, 10000.0, 'B', 13, 55000.0),
 ('other', 80000, 8000.0, 16000.0, 'A', 14, 88000.0),
 ('marketing', 100000, 10000.0, 20000.0, 'A', 11, 110000.0),
 ('marketing', 600000, 60000.0, 120000.0, 'A', 11, 660000.0),
 ('HR', 65000, 6500.0, 13000.0, 'B', 12, 71500.0),
 ('Finance', 90000, 9000.0, 18000.0, 'A', 13, 99000.0)]

In [23]:
*print("_"*40)

________________________________________

In [1]:
age=[12,23,32,34,45,65,54,56,9,1]
nage=[]
for v in age:
  if v>=30:
    nage.append(v)
print(nage)

[32, 34, 45, 65, 54, 56]

In [3]:
age=[12,23,32,34,45,65,54,56,9,1]
nage=[v for v in age if v>=30]
print(nage)

[32, 34, 45, 65, 54, 56]

In [3]:
""" name=['a','b','c','d','e']
sal=[40000,50000,10000,80000,20000]
dno=[11,12,13,13,14]
sex=['m','f','f','m','m' ]"""
def grade(sa):
  if sa >= 50000:
     return 'A'
  elif sa >=20000:
     return 'B'
  elif sa >=10000:
     return 'C'
  return 'D'
name=['a','b','c','d','e']
sal=[40000,50000,10000,80000,20000]
dno=[11,12,13,13,14]
sex=['m','f','f','m','m' ]
temp = [v for v in list(zip(name,sal,dno,sex,[grade(sa) for sa in sal]
))]
print(temp)
def gend(x):
  if x.lower()=="f":
     return "Female"
  else:
     return "Male"
gender=[gend(x) for x in sex]
print(gender)
temp = [v for v in list(zip(name,sal,dno,sex,[grade(sa) for sa in sal],[gend(x) for x in sex]
))]
print(temp)
def dept(d):
    if d == 11:
        return "marketing"
    elif d == 12:
        return "HR"
    elif d == 13:
        return "Finance"
    else:
        return "other"
depno=[dept(d) for d in dno]
print(depno)
temp = [v for v in list(zip(name,sal,dno,sex,[grade(sa) for sa in sal],[gend(x) for x in sex],[dept(d) for d in dno]
))]
print(temp)
#apply the filter in temp
fems=[v for v in temp if v[-2]=="Female"]
print(fems)

[('a', 40000, 11, 'm', 'B'), ('b', 50000, 12, 'f', 'A'), ('c', 10000, 13, 'f', 'C'), ('d', 80000, 13, 'm', 'A'), ('e', 20000, 14, 'm', 'B')]
['Male', 'Female', 'Female', 'Male', 'Male']
[('a', 40000, 11, 'm', 'B', 'Male'), ('b', 50000, 12, 'f', 'A', 'Female'), ('c', 10000, 13, 'f', 'C', 'Female'), ('d', 80000, 13, 'm', 'A', 'Male'), ('e', 20000, 14, 'm', 'B', 'Male')]
['marketing', 'HR', 'Finance', 'Finance', 'other']
[('a', 40000, 11, 'm', 'B', 'Male', 'marketing'), ('b', 50000, 12, 'f', 'A', 'Female', 'HR'), ('c', 10000, 13, 'f', 'C', 'Female', 'Finance'), ('d', 80000, 13, 'm', 'A', 'Male', 'Finance'), ('e', 20000, 14, 'm', 'B', 'Male', 'other')]
[('b', 50000, 12, 'f', 'A', 'Female', 'HR'), ('c', 10000, 13, 'f', 'C', 'Female', 'Finance')]

In [4]:
a=[[1,2,3],[2,3,4],[5,6,7]]
n=0
for v in a:
  n+=len(v)
print(n)

9

In [25]:
acc={101:10000,102:40000,103:5000}
acc[101]+=10000
acc[102]-=5000
acc[104]=25000
print(acc)
"""usecase-1: if any user has account then check for mode he wants withdraw or insert, balance check,deposit"""
acc={}
acno=105
mode="i"
amt=65000
if acc.get(acno)!=None:
      if mode =="w" :
           if amt<=acc[acno]:
               acc[acno]-=amt
           else:
               print("Insufficient Balance")
      elif mode =="d":
          acc[acno]+=amt
      elif mode =="b":
          print("Balance Amount: ",acc[acno])
      else:
          print("Invalid option")
elif mode == "i":
    if acno not in acc:
        acc[acno] = amt
else:
     print("Invalid option")

{101: 20000, 102: 35000, 103: 5000, 104: 25000}

In [6]:
sex=['m','m','f','f','f','m','m','m']
print(len(sex))
freq={}
for v in sex:
  if freq.get(v)==None:     # in the first iteration v value is m
      freq[v]=1              #male as key and 1 as value that entered
  else:
      freq[v]+=1
print(freq)
freq.keys()
freq.values()
list(zip(freq.keys(),freq.values()))

8
{'m': 5, 'f': 3}

[('m', 5), ('f', 3)]

In [1]:
# converting the above program in to object oriented programing
class PeopleGroup:
    def __init__(self, genders):
        self.genders = genders
        self.freq = self.calculate_frequency()

    def calculate_frequency(self):
        freq = {}
        for gender in self.genders:
            if gender in freq:
                freq[gender] += 1
            else:
                freq[gender] = 1
        return freq

    def display_frequency(self):
        for gender, count in self.freq.items():
            print(f"{gender}: {count}")

    def get_keys(self):
        return self.freq.keys()

    def get_values(self):
        return self.freq.values()

    def as_list_of_tuples(self):
        return list(zip(self.freq.keys(), self.freq.values()))

# Example usage:
group = PeopleGroup(['m', 'f', 'f', 'f', 'm', 'm', 'm'])
group.display_frequency()
print(group.as_list_of_tuples())

m: 4
f: 3
[('m', 4), ('f', 3)]

In [2]:
# again converting in to scripts
# List of genders
sex = ['m', 'f', 'f', 'f', 'm', 'm', 'm']

# Calculate the frequency of each gender
def calculate_frequency(genders):
    freq = {}
    for gender in genders:
        if gender in freq:
            freq[gender] += 1
        else:
            freq[gender] = 1
    return freq

# Display the frequency
def display_frequency(freq):
    for gender, count in freq.items():
        print(f"{gender}: {count}")

# Convert the frequency dictionary to a list of tuples
def as_list_of_tuples(freq):
    return list(zip(freq.keys(), freq.values()))

# Call functions to perform actions
freq = calculate_frequency(sex)
display_frequency(freq)
print(as_list_of_tuples(freq))

m: 4
f: 3
[('m', 4), ('f', 3)]